<h2>Project Entry Form</h2>
<hr>
<div class="buttonSpacing">
    <button class="btn btn-default" type="submit">Import Template</button>
    <button class="btn btn-default" type="submit">Export As Template</button>
    <button class="btn btn-default" type="submit">Open Existing Project</button>
</div>
<hr>

<div class="container-fluid">
<div class="row">
    <div class="col-xs-12 col-sm-4" style="padding-right: 2vw">
        <div class="row"><h5>Customer Contact Info</h5></div>
        <div class="row">Customer Name: John Smith</div>
        <div class="row">Email Address: jsmith@acompany.com</div>
        <div class="row">Phone Number: (XXX) XXX-XXXX</div>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-right: 2vw">
        <div class="row"><h5>Required Information</h5></div>
        <div class="row"><input type="text" class="form-control" placeholder="<Job Name>" /></div>
        <div class="row"><input type="text" class="form-control" placeholder="<Owner Name>" /></div>
        <div class="row"><input type="text" class="form-control" placeholder="<Jobsite Address Line1>" /></div>
        <div class="row"><input type="text" class="form-control" placeholder="<Jobsite Address Line2>" /></div>
    </div>
    <div class="col xs-12 col-sm-4" style="padding-right: 2vw">
        <div class="row"><h5>Optional Information</h5></div>
        <div class="row"><input type="text" class="form-control" placeholder="<Project Reference#>" /></div>
        <div class="row"><input type="text" class="form-control" placeholder="<Alternate Phone Number>" /></div>
        <div class="row"><input type="text" class="form-control" placeholder="<CC Email Address>" /></div>
        <div class="row"><br><br><br></div>
        <div class="row buttonSpacing">
            <button type="button" class="btn btn-primary btn-lg">Submit Project</button>
            <button type="button" class="btn btn-default">Reset Form</button>
        </div>
    </div>
</div>
</div>

<br>
<br>

System Type:
<select ng-model="mySystemType" ng-options="systemType.name for systemType in systemTypes" ng-change="mySystemTypeChanged()">
    <option value="">-- Select System --</option>
</select>

Unit Type:

<select ng-disabled="!mySystemType" ng-model="myUnitType" ng-options="unitType.name for unitType in unitTypes">
    <option value="">-- Select Unit --</option>
</select>


<!--Filter: <input type="text" ng-model="customerFilter.name" />
<br /><br />
<table class="table table-striped">
    <tr>
        <th ng-click="doSort('name')">Name</th>
        <th ng-click="doSort('city')">City</th>
        <th ng-click="doSort('orderTotal')">Order Total</th>
        <th ng-click="doSort('joined')">Joined</th>
        <th>Orders</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse" class="repeat-animation">
        <td>{{ cust.name }}</td>
        <td>{{ cust.city }}</td>
        <td>{{ cust.orderTotal | currency }}</td>
        <td>{{ cust.joined | date }}</td>
        <td><a href="#/orders/{{ cust.id }}">View Orders</a></td>
        <td class="center"><span class="glyphicon glyphicon-remove delete" ng-click="deleteCustomer(cust.id)"></span></td>
    </tr>
</table>
<br />
<span>Total customers: {{ customers.length }}</span>
<br /><br />-->

<br><br>

<footer style="font-size: x-small">Version: {{ appSettings.version }} </footer>